.a {
  width: 100px;
  height: 100%;
  background-color: #fff;
  position: relative;
  font-size: 123px;
}
.a {
  width: 100px;
  height: 100%;
  background-color: #fff;
  position: relative;
  font-size: 123px;
}
.a {
  width: 100px;
  height: 100%;
  font-size: 23px;
  background-color: red;
  border: 1px solid #000;
}
h1 {
  border: 1px solid #000;
}
